.git
.idea
.vscode
.DS_Store

backend/.m2
backend/data
backend/target/*
!backend/target/*.jar

frontend/node_modules
frontend/tsconfig.*.tsbuildinfo
frontend/dist/*
!frontend/dist
!frontend/dist/**

deploy/acr.env
tmp-*.txt
